@font-face {
  font-family: welcome_2019;
  src: url(../fonts/welcome_2019.ttf);
}

.q-toolbar {
  background: white;
  min-height: 120px;
}
.fixed-top {
  position: relative;
}
.logo {
  /*max-width: 200px;*/
  margin: 30px;
  /*margin-left: 200px;*/
}
.q-tabs {
  background: #EFF1F2;
  color: #1B365E;
  min-height: 80px;
}
.q-tab__label {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

.absolute-bottom {
  color: #42B478;
}

*{
  font-family: Montserat, sans-serif;
}

h1 {
  color: #42B478;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  color: #1B365E;
  font-size: 26px;
  font-weight: 600; /*semibold*/
}

a {
  color: #1B365E;
  text-decoration: none;

}

p {
  font-size: 18px;
  font-weight: medium;

}

.subtitle {
  font-size: 14px;
  font-weight: medium;
}

main {
  //background: url("../assets/bg.png") no-repeat center left;
  background-size: cover;
  margin: 0 auto;
  padding: 0px 0 90px 0;
  flex: 1;
  width: 100%;
}

footer {
  color: black;
  font-size: 14px;
  font-weight: 300;
  background-color: #eff1f2 !important;
  padding: 15px 0;
  line-height: 1.5;
}

.googleID {
  background-color: gray;
}

.bg-voucher {
  background-color: $primary;
}

.bg-voucher h1, .bg-voucher h2 {
  color: white;
  line-height: 2rem;
}

.q-field {
  font-size: 18px;
}


label {
  color: #1B365E;
  font-size: 16px;
  font-weight: 600; /*semibold*/
}

input {
  background: #EFF1F2;
  padding: 10px 20px;
  border: 2px solid #bac3c7;
  color: #2d2d2d;
  outline: none;
  font-size: 14px;
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: gray !important;
}

.form{
  min-width: 100%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
}

.btn {
  background: #42B478;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 12px 50px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  opacity: 0.75;
}

.btn-secondary {
  background: white;
  border: 2px solid #42B478;
  color: #42B478;
}

.btn-secondary:hover {
  background: #42B478;
  color: white;
  opacity: 1;
}

// declare a class which applies it
.welcome-2019 h2 {
  font-family: 'welcome_2019';
  font-size: 65px;
  line-height: 1.5em;
  color: #fff;
  font-weight: normal;
}

.wrapper {
  display: flex;
  min-height: calc(100vh - 60px);
  flex-direction: column;
}

.blue-text {
  color: #6295d6;
}

.violet-text{
  color: #8594e3;
}

.t-head {
position: relative;
  line-height: 3.4;
}

.t-head td {
  color: #093767;
  font-weight: 600;
}

tr td:first-child{
  padding-left: 10px;
}
.table-block{
  //width: 1100px!important;

}
table{
  //overflow: scroll;
}

.coin-image {
  background-size: contain;
  width: 250px;
  height: 250px;
  background-position: center, center;
}


body{
  color:#1d1d1d;
  //min-width: 1200px;
}
img{
  max-width: 100%;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

h2,h3,h4,h5,h6,p,span{
  margin: 0;
}

.h-100{
  height: 100%;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.font-bold{
  font-weight: bold;
}
.text-center{
  align-items: center!important;
}
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.align-items-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.m-0{
  margin: 0;
}
.p-0{
  padding: 0;
}
.border-bottom-blue:last-child {
  border: none !important;
}
.custom-container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bottom-text {
  color: #6295d6;
  font-size: 27px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.border-bottom-blue{
  border-bottom: 1px solid #3b8fe9;
}

.border-right-blue{
  border-right: 1px solid #3b8fe9;
}

.opacity-9{
  opacity: .9;
}

.golden {
   font-size: 14px!important;
   color: #edb702!important;
   text-transform: uppercase;
   font-weight: normal!important;
   padding-top: 0!important;
 }

.green-price {
  font-size: 14px;
  color: #03ee00;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 0;
}

table {
  position: relative;
  width: 100%;
  margin: 50px 50px 25px;
  line-height: 3.5;
  border-spacing: 0;
  border-collapse: collapse;
}
.bg-blue {
  background-color: #3b8fe9;
  font-weight: bold;
}
.green-color{
  color: #04ea00
}

.wrapper {
  background-color: #fff;
  width: 100%;
}

.large {
  font-size: 24px;
}

.font-12 {
  font-size: 12px;
}

.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.w-10 {
  width: 10%;
}
.w-17 {
  width: 17%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-40{
  width: 40%;
}
.w-100{
  width: 100%!important;
}

.text-center{
  text-align: center!important;
}
.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hide-pc{
  display: none!important;
}

.hide-sp{
  display: block!important;
}

#q-app, body, html {
  overflow-x: hidden;
}

.error {
  display: block;
  color: #f54c4c !important;
  font-size: 12px;
  margin-bottom: 10px;
}
.text-success {
  display: block;
  color:#28a745!important;
  font-size: 12px;
  margin-bottom: 10px;
}

::placeholder {
  color: gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: gray;
}


@media (max-width: 1200px) {
  .t-head:before {
    display: none;
  }
  .row{
    justify-content: center;
  }
  .title {
    margin-top: 20px;
  }
  .title{
    height: 100%;
    object-fit: cover;
  }
  .table-block {
    margin: 0 20px;
    background: none!important;

  }
  table{
    padding: 0 20px;
  }
  .text-bg{
    background: none!important;
    height: auto!important;
  }

  form {
    background: none !important;
  }
  .form {
    padding: 0!important;
  }

  p {
    padding: 0 10px;
  }
}

@media (max-width: 1000px) {
  table {
    overflow: auto;
    height: 100%;
    white-space: nowrap;
    display: block;
    margin: 0;
    width: auto;
  }

  td {
    padding: 0 10px;
  }

  .table-block {
    background: none;
    width: 100%;
    margin: 10px;
  }
  .heading-img {
    object-fit: none;
    height: max-content;
  }
}
@media (max-width: 768px) {
  .hide-pc{
    display: inline-flex!important;
  }
  .hide-sp{
    display: none!important;
  }
}
@media (max-width: 500px) {
  .welcome-2019 h2 {
    font-size: 35px;
  }
}
